[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "ccp_web_bff"

[packages]
flask = "*"
marshmallow = "*"
python-abc = "*"
python-dotenv = "*"
pika = "*"
psycopg2-binary = "*"


[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
